<template>
    <div>
        <div id='start' class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Αίτημα Ραντεβού Γονέα</h2>
                    <div v-show="emailfError != null" class="alert alert-danger" role="alert">
                        {{emailfError}}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="text-center">
                        <ul class="nav justify-content-center stepper">
                            <li class="nav-item">
                                <a class="nav-link" :class="(step == 1)?'active':null" href="#">
                                    <span class="badge badge-primary">1</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" :class="(step == 2)?'active':null">
                                    <span class="badge badge-primary">2</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" :class="(step == 3)?'active':null">
                                    <span class="badge badge-primary">3</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" :class="(step == 4)?'active':null">
                                    <span class="badge badge-primary">4</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!--                    <div class="form-group">-->
<!--                        <label for="describedby">Σκοπός Επίσκεψης</label>-->
<!--                        <input type="text" required  v-model="comment" class="phone form-control" id="phone" >-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="form-group">-->
<!--                        <label for="exampleInputEmail1">Ονοματεπώνυμο</label>-->
<!--                        <input type="text"  required v-model="title" value="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label for="describedby">Τηλέφωνο</label>-->
<!--                        <input type="text" required  v-model="phone" class="phone form-control" id="phone" >-->
<!--                    </div>-->

<!--                </div>-->




<!--                <div :class="stepFirstColum">-->
<!--                    step one-->
<!--                </div>-->

<!--                <div class="col-md-4" v-if="student_name.length > 10  && step == 3">-->
<!--                    step two-->
<!--                </div>-->

<!--                <div class="col-md-4" v-if="student_name.length > 10  && step == 3">-->
<!--                    step tree-->
<!--                </div>-->


                <div class="col-md-12">
                    <div id='contact' class="row">
                        <div class="col-md-4 offset-md-4">
                            <div class="text-center">
                                <h3>Στοιχεία Γονέα / Μαθητή</h3>
                            </div>
                            <label for="exampleInputEmail1">ΤΟ EMAIL ΣΑΣ</label>
                            <div class="input-group mb-3">
                                <input type="email"  v-model="email" value="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <div class="input-group-append">
                                    <button class="btn btn-success" @click="searchWhitelist">Αναζήτηση</button>
                                </div>

                            </div>
                            <small id="emailHelp" class="form-text text-muted">Συμπληρώστε το email που έχετε δηλώσει στο σχολείο σας.</small>

                            <div v-if="stepTwo">
                                <div class="form-group " v-if="stepTwo">
                                    <label for="company">ΕΠΙΛΟΓΗ ΣΧΟΛΕΙΟΥ</label>
                                    <select  id="company" v-model="company_id" required  @change="getTeachers" class="form-control">
                                        <option value=""> Επιλογή </option>
                                        <option v-for='e in companies' :value="e.id" v-if="e.id == userCompanies"> {{e.title}}</option>
                                    </select>
                                </div>


                                <div class="form-group" v-if="entities.length > 0">
                                    <label for="entity">ΕΠΙΛΟΓΗ ΔΑΣΚΑΛΟΥ</label>
                                    <select id="entity" required v-model="entity_id" @change="setTimeTable" class="form-control">
                                        <option > Επιλογή </option>
                                        <option v-for='(e, index) in entities' :key="e.id" :value="e.id" > {{e.title}}</option>
                                    </select>
                                </div>

                                <div class="form-group"  v-if="entity_id != null">
                                    <label for="student_name">Ονοματεπώνυμο Μαθητή</label>
                                    <input type="text" v-model="student_name" value="" class="form-control" id="student_name" >
                                </div>

                            </div>
                            <div class="col-md-12 text-right" v-if="student_name.length > 10">
                                <button class="btn btn-success" @click="step = 3; scrollTo('calendar');">Επόμενο</button>
                            </div>
                            <!--                    <div class="form-group " v-if="expertise != null">-->
                            <!--                        <label for="entity">ΕΠΙΛΟΓΗ ΔΑΣΚΑΛΟΥ</label>-->
                            <!--                        <select id="entity" required v-model="entity_id" class="form-control">-->
                            <!--                            <option > Επιλογή </option>-->
                            <!--                            <option v-for='(e, index) in entityList' :key="e.id" :value="e.id" > {{e.title}}</option>-->
                            <!--                        </select>-->
                            <!--                    </div>-->
                        </div>
                    </div>

                    <div id='calendar' class="row">

                        <div class="col-md-6 offset-md-3" v-if="student_name.length > 10  && step == 3">
                            <hr>
                            <div class="text-center">
                                <h3>Επιλογή Ημ/νιας</h3>
                            </div>
                            <datepicker :open-date="openDate" v-model="selectedDate" :language="el" @selected="dateIsSelected"  :inline="true" :highlighted="highlighted" :disabledDates="disabledDates"></datepicker>

                            <div class="form-group mt-2"  v-if="selectTimes.length > 0">
                                <p>Επιλογή Ώρας</p>
                                <!--                        <label for="time">Επιλογή Ώρας</label>-->

                                <div class="text-center">
                                    <h3>Επιλέξτε διαθέσιμη ώρα</h3>
                                </div>
                                <button v-for="t in selectTimes" @click="selectTime = t;" type="button" class="btn btn-primary mr-2">{{ t }}</button>


                            </div>
                            <div class="col-md-12 text-right">
                                <button class="btn btn-success" v-if="selectTime!=null" @click="step = 4; scrollTo('details');">Επόμενο</button>
                            </div>
                        </div>
                    </div>

                    <div id='details' class="row" v-if="showCalendar && selectTime">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h3>Θέμα Συνάντησης</h3>
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-3" >
                            <hr>
                            <div class="form-group">
                                <label for="title">Τίτλος </label>
                                <select id="title" required v-model="title" class="form-control">

                                    <option> Ενημέρωση Προόδου μαθητή</option>
                                    <option> Προσωπικό Πρόβλημα</option>
                                    <option> Άλλο </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Περιγραφή</label>
                                <textarea v-model='comment' class="form-control" id="exampleFormControlTextarea1" rows="8"> </textarea>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-if="showCalendar && title && selectTime" >
                <div class="col-md-5 offset-md-4 mb-5" style="margin-bottom: 200px;">
                    <div class="text-right mt-2">
                        <button class="btn btn-success" @click="postAppointment">Καταχώρηση</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import datePicker from 'vue-bootstrap-datetimepicker';
    import Datepicker from 'vuejs-datepicker';
    import {en, el} from 'vuejs-datepicker/dist/locale'

    // Import date picker css
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
    import VueTimepicker from "vue2-timepicker/src";

    export default {
        components: {
            Datepicker,
            datePicker,
            VueTimepicker
        },

        data: () => ({
            user: null,
            e6: 1,
            en: en,
            el: el,
            stepFirstColum: 'col-md-4',

            openDate: new Date(),
            expertise: null,
            selectedDate: null,
            student_name: '',
            selectTime: null,
            start_date: new Date().toISOString().substr(0, 10),
            start_time:'12:30',
            title:'Ενημέρωση Προόδου μαθητή',
            comment:'',
            color: '#1976d2',
            company_id: null,
            entity_id: null,
            approved:false,
            email:null,
            phone:null,
            calendarActiveDays: [],
            highlighted: [],

            emailfError: null,
            showLoginForm: false,
            stepTwo: false,
            step: 1,
            selectTimes: [],
            disabledDates: null,
            showCalendar: false,
            expertises: [],
            entities: [],
            companies: [],
            date: new Date(),
            entityDays: [],
            userCompanies: null,
            options: {
                format: 'YYYY-MM-DD',
                useCurrent: false,
            }
        }),
        methods: {
            getUser(){
                axios.get('/userisonline')
                    .then(function (response) {

                        this.user = response.data;
                        if(this.user != ''){
                            this.email = this.user.email;
                            this.searchWhitelist();
                        }
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            scrollTo(id){
                var element = document.getElementById(id);
                element.scrollIntoView({behavior: "smooth", block: "start", inline: "start"});
            },
            searchWhitelist(){
                var self = this;
                var whitelisted = false;
                this.stepTwo = false;
                this.emailfError = null;
                // search email in whitelist if true
                axios.post('/searchwhitelist', {email: this.email})
                    .then(function (response) {
                        self.userCompanies = response.data.company;
                         whitelisted = response.data.status;
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                        if(whitelisted){
                            this.emailfError = null;
                            this.findUser();
                            this.step = 2;
                        }else{
                            this.emailfError = 'Παρακαλώ επικοινωνήστε με το Σχολείο που θέλετε να κλείσετε ραντεβού για να καταχωρήσετε το email σας.'
                        }
                    }.bind(this));
                    // search user with email
                        // if user go to next step

                        // else create user

                // no user found
            },
            findUser(){
                this.showLoginForm = false;
                axios.post('/searchUser', {email: this.email})
                    .then(function (response) {
                        if(response.data.status && response.data.login == 'yes'){
                            window.location.href = "/login";
                        }else if(!response.data.status && response.data.login == 'no'){
                            window.location.href = "/register";
                        }else{
                            this.stepTwo = true;
                        }
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {

                    });
            },
            dateIsSelected(date){
                var ndate = moment(date);
               // var searchDate = moment(date).format('YYYY-MM-DD');
                var dayNumber = ndate.day();
                var closeHours = [];
                // getAppointmentsForThisDay


                var self = this;
                axios.post('/get-appointments-for-day', {'start_date': ndate.format('YYYY-MM-DD'), 'entity_id':self.entity_id})
                    .then(function (response) {


                        closeHours = response.data;

                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                        var self = this;
                        for(var e = 0; e < self.entities.length; e++){
                            if(this.entity_id == self.entities[e].id ){
                                if(self.entities[e].timetable.length > 0){
                                    for(var d=0; d < self.entities[e].timetable.length; d++){
                                        if(self.entities[e].timetable[d].day == dayNumber){
                                            let open_at = self.entities[e].timetable[d].open_at;
                                            let close_to = self.entities[e].timetable[d].close_to;
                                            var nndate = ndate.format('YYYY-MM-DD');
                                            var startDateTime = moment(nndate + ' ' + open_at)
                                            var endDateTime = moment(nndate + ' ' + close_to)

                                            self.selectTimes = [];
                                            if(!closeHours.includes(moment(startDateTime).format("HH:mm"))) {
                                                self.selectTimes.push(moment(startDateTime).format("HH:mm"))
                                            }
                                            var count = 1;
                                            while(startDateTime < endDateTime && count < 50){

                                                startDateTime = startDateTime.add(self.entities[e].duration, 'minutes');

                                                console.log(startDateTime)
                                                if(closeHours.length > 0 && closeHours.includes(moment(startDateTime).format("HH:mm"))){

                                                }else{
                                                    self.selectTimes.push(moment(startDateTime).format("HH:mm"))
                                                }
                                                count++;
                                            }


                                        }
                                    }
                                }else{
                                    //@hide calendar;
                                    this.showCalendar = false;
                                }
                            }
                        }



                    }.bind(this));

            },
            // get open days from entity timetable
            setTimeTable(){
                this.entityDays = [];
                for(var e = 0; e < this.entities.length; e++){
                    if(this.entity_id == this.entities[e].id ){
                        if(this.entities[e].timetable.length > 0){
                            for(var d=0; d < this.entities[e].timetable.length; d++){
                                this.entityDays.push(this.entities[e].timetable[d].day)
                            }
                        }else{
                            //@hide calendar;
                            this.showCalendar = false;
                        }
                    }
                }

                this.showCalendar = true;
                this.disabledDate();

            },
            setTime(startTime, endTime){
                // let date = "2017-03-13";
                // let timeAndDate = moment(date + ' ' + startTime)
                // while (i < 10) {
                //     text += "The number is " + i;
                //     i++;
                // }
                //
                // timeAndDate.add(30, 'minutes').format('HH:mm');;


            },
            activeDays(date){
            },
            highlightedDates(){
                var start = moment(), // Sept. 1st
                    end   = moment().add(3, 'months').endOf('month').format('YYYY-MM-DD'),
                    days   = this.entityDays;                    // selected day
                var result = [];

                for (var d = 0; d < days.length; d++){
                    var current = start.clone();

                    console.log('days[d]')
                    console.log(days[d])
                    while (current.day(7 + days[d]).isBefore(end)) {
                        result.push(current.clone());
                    }
                }
                var activedays = result.map(m => m.format('YYYY-MM-DD'));
                this.hhighlighted = activedays;
                this.hhighlighted.push({includeDisabled: true});


                return {

                    customPredictor: function (date) {
                        // return checkDate();
                        var cardate = new Date();
                        //close past dates
                        if (date.getTime()  < cardate.getTime() ) {
                            return true
                        }

                        if(!this.hhighlighted.includes(moment(date).format('YYYY-MM-DD'))){
                            console.log()
                            return true;
                        }


                        // if (date.getDate() == 30 ) {
                        //     return true
                        // }

                    }.bind(this)

                }

            },
            disabledDate(){
                var start = moment(), // Sept. 1st
                    end   = moment().add(3, 'months').endOf('month').format('YYYY-MM-DD'),
                    days   = this.entityDays;                    // selected day
                var result = [];

                for (var d = 0; d < days.length; d++){
                    var current = start.clone();

                    console.log('days[d]')
                    console.log(days[d])
                    while (current.day(7 + days[d]).isBefore(end)) {
                        result.push(current.clone());
                    }
                }
                var activedays = result.map(m => m.format('YYYY-MM-DD'));
                this.calendarActiveDays = activedays;



              return {
                  customPredictor: function (date) {
                      // return checkDate();
                      var cardate = new Date();
                      //close past dates
                      if (date.getTime()  < cardate.getTime() ) {
                          return true
                      }

                      if(!this.calendarActiveDays.includes(moment(date).format('YYYY-MM-DD'))){
                          console.log()
                          return true;
                      }
                      // if (date.getDate() == 30 ) {
                      //     return true
                      // }
                  }.bind(this)
              }
            },
            getTeachers(){

                var self = this;
                axios.post('/expertise_json_by_company', {'company_id': self.company_id})
                    .then(function (response) {

                        console.log(response.data)
                        self.entities = response.data;
                        self.selectedDate = null;
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                    });
            },
            getCompanies(){
                var self = this;
                axios.get('/companies_json')
                    .then(function (response) {
                        console.log('companies')
                        console.log(response.data)
                        self.companies = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                    });
            },
            postAppointment(){
                var self = this;
                axios.post('/bookAppointment', {
                    start_date:  moment(self.selectedDate).format('YYYY-MM-DD'),
                    start_time:  self.selectTime,
                    title:  self.student_name +" - "+self.title,
                    comment:  self.comment,
                    color:  self.color,
                    email:  self.email,
                    company_id:  self.company_id,
                    entity_id:  self.entity_id,
                    approved:  self.approved,
                    phone:  self.phone,
                })
                    .then(function (response) {
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                         window.location = '/booking/success';
                    });
            },
            //delete this
            getEntities(){
                console.log('create entity');
                var self = this;
                axios.get('/entities_json')
                    .then(function (response) {
                       console.log(response.data)
                        self.entities = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                    });
            },
            getExpertises(){
                console.log('create entity');
                var self = this;
                axios.get('/expertise_json_by_company')
                    .then(function (response) {
                        console.log(response.data);
                        self.expertises = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
                    .then(function () {
                    });
            },

        },
        computed: {
            entityList () {
                if(this.expertise == null || this.expertise == ''){
                    return this.entities;
                }
                var items = this.entities;
                return this.entities.filter(item => {
                    return item.expertise == this.expertise
                })
            },


        },
        mounted(){
            // var element = document.getElementById('start');
            // element.scrollIntoView({behavior: "smooth", block: "start", inline: "start"});

            this.getCompanies();
              // this.getEntities();
            // this.getExpertises();
            this.disabledDates = this.disabledDate();
            this.highlighted = this.highlightedDates();
            this.getUser();

        }
    }
</script>
<style>
body {
    /*min-height: 1500px;*/
}

.vdp-datepicker__calendar {
    width: 100% !important;
}

span.cell.day {
    border: solid 0.1px #f9f9f9;
}
.vdp-datepicker__calendar {
    border: solid 1px #eee
}
span.cell.day.selected {
    color: #fff;
}
.vdp-datepicker__calendar {
    border: none!important;
}

/*steper*/
span.badge {
    border-radius: 50%;
}
ul.nav.justify-content-center.stepper li + li::before {
    width: 30px;
    height: 1px;
    position: absolute;
    background: #047bfe;
    top: 21px;
    content: '';
    left: -15px;
}

ul.nav.justify-content-center.stepper li {
    position: relative;
}

a.nav-link span {
    background: #ccc;
    width: 18px;
}

a.nav-link.active span {
    background: #007bff;
}
</style>
