<template>
  <v-app id="keep">

     <navigation ref="reloadPendings" v-on:pendings="getPendings" v-on:showPendings="openPendings" style="margin-top:60px;"></navigation>


    <!--Right Panel -->
    <v-navigation-drawer v-model="rightPanel" right app clipped width="500" id="appointmentWindow">
      <v-app-bar-nav-icon @click="rightPanel = !rightPanel"/>

      <span class="title ml-3 mr-5">Νέα&nbsp;<span class="font-weight-light">Καταχώρηση</span></span>

      <v-container>
        <v-row>
          <v-col cols="12" class="pb-0 pt-0">
            <v-form ref="form">
              <v-row>

								<v-col cols="12" class="pb-0 pt-4">
                  <v-select v-model="appointment.entity_id" @change="getAvailableTimesForEntityByDay()"
                            :items="entities" item-text='title' item-value="id"
                            label="Ιατρός" prepend-icon="house" required></v-select>
                </v-col>



								<v-col cols="7" class="pb-0 pt-0">
                  <v-text-field @keyup="searchForClient()"  v-model="newAppointmentSearchField" label="ΑΝΑΖΗΤΗΣΗ ΑΣΘΕΝΗ" prepend-icon="mdi-account-search" required></v-text-field>
								</v-col>

								<v-col cols="5" right class="pb-0 pt-0">
                  <v-switch v-model="appointment.approved" class="font-weight-black"
                            :label="`${(appointment.approved)?'Επιβεβαιωμένο':'Επιβεβαίωση'}`"></v-switch>
                </v-col>

								<v-col cols="12" class="pb-2 pt-0">
                   <div v-if="searchClients.length > 0 && appointment.amka != '' ">
                    <v-simple-table>
                      <thead>
                      <tr>
                        <th class="text-left">Όνομα</th>
                        <th class="text-left">ΑΜΚΑ</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr   style="cursor: pointer;" v-for="c in searchClients" :key="c.id" @click="appointment.amka = c.amka; appointment.title = c.name; appointment.phone=c.phone; appointment.email = c.email;searchClients=[]; ">
                        <td>{{c.name}}</td>
                        <td>{{c.amka}}</td>
                      </tr>
                      </tbody>
                    </v-simple-table>

                  </div>

                </v-col>






								<v-col cols="7" class="pb-0 pt-0">
                  <v-text-field v-model="appointment.title" label="Όνομα Ασθενή" prepend-icon="mdi-account"
                                required></v-text-field>
                </v-col>

								<v-col cols="5" class="pb-0 pt-0">
                  <v-text-field elevation="0" v-model="appointment.color" :mask="colormask" hide-details
                                class="ma-0 pa-0" solo>
                    <template v-slot:append>
                      <v-menu v-model="menu" top nudge-bottom="105" nudge-left="16" :close-on-content-click="false">
                        <template v-slot:activator="{ on }">
                          <div :style="swatchStyle" v-on="on"/>
                        </template>
                        <v-card>
                          <v-card-text class="pa-0">
                            <v-color-picker v-model="appointment.color"  flat
                                            :swatches="swatches"
																						width="400"
																						swatches-max-height="400"
                                            hide-canvas
                                            hide-inputs
                                            hide-mode-switch
                                            hide-sliders
                                            show-swatches
                            />
                          </v-card-text>
                        </v-card>
                      </v-menu>
                    </template>
                  </v-text-field>

                </v-col>


                <v-col cols="6" class="pb-2 pt-0">
                  <v-text-field   v-model="appointment.amka" label="AMKA" prepend-icon="mdi-account" required></v-text-field>


                </v-col>
                <v-col cols="6δ" class="pb-2 pt-0">
                  <v-text-field v-model="appointment.phone" label="Τηλέφωνο" prepend-icon="phone"></v-text-field>
                </v-col>

                <v-col cols="6" class="pb-2 pt-0">
                  <v-menu v-model="menu2" :close-on-content-click="false" :nudge-right="40"
                          transition="scale-transition" offset-y min-width="290px">
                    <template v-slot:activator="{ on }">
                      <v-text-field v-model="appointment.start_date" label="Επιλογή Ημ/νιας Έναρξης"
                                    prepend-icon="event" readonly v-on="on"></v-text-field>
                    </template>
                    <v-date-picker   v-model="appointment.start_date" @input="menu2 = false"></v-date-picker>
                  </v-menu>
                </v-col>

								<v-col cols="6" class="pb-2 pt-0">
                  <v-menu v-model="menuend_date" :close-on-content-click="false" :nudge-right="40"
                          transition="scale-transition" offset-y min-width="290px">
                    <template v-slot:activator="{ on }">
                      <v-text-field v-model="appointment.end_date" label="Επιλογή Ημ/νιας Λύξης" prepend-icon="event"
                                    readonly v-on="on"></v-text-field>
                    </template>
                    <v-date-picker v-model="appointment.end_date" @input="menuend_date = false"></v-date-picker>
                  </v-menu>
                </v-col>

								  <v-col cols="4" class="pb-2 pt-0">
                  <v-select v-model="appointment.duration" :value="appointment.duration"
                            @change="getAvailableTimesForEntityByDay()"
                            :items="['Επιλογή',10,15,20,25,30,35,40,45,50,55,60, 65, 70, 80, 85, 90, 95, 100, 105, 110, 120, 180, 240, 300, 360, 420]" label="Διάρκεια" prepend-icon="alarm"
                            required></v-select>
                </v-col>

                <v-col cols="4" class="pb-2 pt-0">

                  <v-select v-model="appointment.start_time"
                            :items="EntityAvailiableTimeByDay" label="Ώρα Έναρξης" prepend-icon="alarm"
                            required></v-select>
                </v-col>



                <v-col cols="4" class="pb-2 pt-0">

                  <v-select  v-if="appointment.duration == 'Επιλογή'" v-model="appointment.end_time"
                            :items="EntityAvailiableTimeByDay" label="Ώρα Λήξης" prepend-icon="alarm"
                            required></v-select>

                  <v-text-field v-if="appointment.duration !== 'Επιλογή'" v-model="appointment.end_time" disabled label="Ώρα Λήξης" prepend-icon="alarm"
                                required></v-text-field>

                </v-col>


                <v-col cols="12" class="pt-0 mb-0">
									<v-textarea
										outlined
										name="input-5-4"
										label="Περιγραφή"
										rows="2"
										v-model="appointment.comment" :value='appointment.comment'></v-textarea>
                </v-col>

 								<v-col cols="12" class="pt-0 mt-0">
                  <v-text-field v-model="appointment.email" label="Email" prepend-icon="email"></v-text-field>
                </v-col>

              </v-row>


              <div v-show="editAppointment == false">
                <v-btn color="success" class="mr-4 mt-5 float-left" @click="createAppointment(false)">
                  ΔΗΜΙΟΥΡΓΙΑ
                </v-btn>

								 <v-btn color="primary" class="mr-4 mt-5 float-left" @click="createAppointment(true)">
                  ΔΗΜΙΟΥΡΓΙΑ ΚΑΙ ΠΡΟΣΘΗΚΗ ΕΠΌΜΕΝΟΥ
                </v-btn>
              </div>


              <v-btn v-show='editAppointment == true' color="primary" class="mr-4 mt-5" @click="updateAppointment">
                ΕΝΗΜΕΡΩΣΗ
              </v-btn>

              <v-btn v-show='editAppointment == true' color="red" dark class="mr-4 mt-5" @click="removeAppointment">
                ΔΙΑΓΡΑΦΗ
              </v-btn>

              <div right class="text-right float-right">
                <v-btn right color="danger" class="mr-4 mt-5" @click="rightPanel = false; editAppointment = false;">
                  ΕΠΙΣΤΡΟΦΗ
                </v-btn>
              </div>

            </v-form>
            <br/>
            <br/>
          </v-col>
					<v-col>
						            <a v-if="can('ViewAudits')" href="#" @click="showAudits = true; getAudits(); ">Ιστορικότητα Αλλαγών</a>

					</v-col>
        </v-row>
      </v-container>
      <v-divider></v-divider>

    </v-navigation-drawer>
    <!--End Right Panel -->


    <v-dialog
        v-model="showAudits"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
    >
<!--      <template v-slot:activator="{ on, attrs }">-->
<!--        <v-btn color="primary" dark v-bind="attrs" v-on="on">-->
<!--          Open Dialog-->
<!--        </v-btn>-->
<!--      </template>-->
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="showAudits = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Ιστορικότητα Αλλαγών</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-list three-line subheader>
          <v-subheader>{{ appointment.title }}</v-subheader>
          <v-simple-table>
            <template v-slot:default>
              <thead>
              <tr>
                <th class="text-left"> Χρήστης</th>
                <th class="text-left"> Ενέργεια</th>
                <th class="text-left">Ημ/νια</th>
                <th class="text-left">Παλιές Τιμές</th>
                <th class="text-left">Νέες Τιμές</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="item in appointmentAudits" :key="item.id">
                <td>{{ item.user.email }}</td>
                <td>{{ item.event }}</td>
                <td>{{ item.created_at }}</td>
                <td>
                  <ul>
                    <li v-for="(v,i) in item.old_values"> {{ i }} - {{ v }}</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li v-for="(v,i) in item.new_values"> {{ i }} - {{ v }}</li>
                  </ul>
                </td>

              </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-list>
        <v-divider></v-divider>

      </v-card>
    </v-dialog>

    <v-content v-if="showPendings" class="white">
      <v-container fluid class="white">
        <v-row>
          <v-btn dark class="ma-2" color="blue darken-2" @click="showPendings = false">
            ΕΠΙΣΤΡΟΦΗ ΣΤΟ ΗΜΕΡΟΛΟΓΙΟ
          </v-btn>
        </v-row>
        <v-row color="purple">

          <v-col cols="6">
            <h2>Ραντεβού προς Έλεγχο</h2>
            <v-list two-line>
              <template v-for="(item, index) in pendings">
                <v-list-item @click="editPending(pendings[index])">
                  <v-list-item-content>
                    <v-list-item-title>{{ item.start_date }}</v-list-item-title>
                    <v-list-item-subtitle v-html="item.title"></v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-divider :key="index"></v-divider>
              </template>
            </v-list>

          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <v-content v-if="!showPendings" class="mt-0 pt-2">
      <v-container fluid class="grey lighten-4 ">
        <v-row>
          <v-col cols="12">
            <div  v-for="e in entities" :key="e.id" >
              <span v-if="e.id == selectedEntity.id" >

             <span class="small mt-5"><b>{{ e.title }}</b> | {{ e.expertise }}{{ (e.description != null)?' | '+e.description:null }}</span>
              </span>

            </div>
          </v-col>
          <v-col cols="2">
            <v-select
                v-if="userCompanies.length > 1"
                :items="userCompanies"
                v-model="selectedCompanie"
                item-text='title' item-value="id"
                label="ΕΤΑΙΡΙΕΣ"
                solo
                @change="filterEntities"
            ></v-select>
            <v-btn dark left class='mr-2' color="blue darken-2" @click="setEntity(e)">
              <span>ΣΥΝΟΠΤΙΚΑ</span>
            </v-btn>
          </v-col>
          <v-col cols="10">
            <v-btn :class="'mb-2'" small dark left v-for="e in entities" :key="e.id" :active-class="'red'" class='mr-2'
                   :color="(selectedEntity.id != null && selectedEntity.id == e.id)?e.color: (selectedEntity.id != null)?'grey':e.color"
                   :elevation="(selectedEntity.id != null && selectedEntity.id == e.id)?10: (selectedEntity.id != null)?0:4 "
                   @click=" setEntity(e); ">
              <span>{{ e.title }}</span>
            </v-btn>
          </v-col>
        </v-row>
        <v-row class="fill-height">
          <v-col cols="12">

            <v-sheet height="64">
              <v-toolbar flat color="white">
                <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">
                  ΣΗΜΕΡΑ
                </v-btn>
                <v-btn fab text small color="grey darken-2" @click="prev">
                  <v-icon small>mdi-chevron-left</v-icon>
                </v-btn>

                <v-btn fab text small color="grey darken-2" @click="next">
                  <v-icon small>mdi-chevron-right</v-icon>
                </v-btn>
                <v-toolbar-title>{{ title }}</v-toolbar-title>
                <v-spacer></v-spacer>

                <v-menu bottom right>
                  <template v-slot:activator="{ on }">
                    <v-btn outlined color="grey darken-2" class="mr-5" v-on="on">
                      <span>{{ typeToLabel[type] }}</span>
                      <v-icon right>mdi-menu-down</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item @click="type = 'month'">
                      <v-list-item-title>Μήνας</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="type = 'day'">
                      <v-list-item-title>Ημέρα</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="type = 'week'">
                      <v-list-item-title>Εβδομάδα</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
                <v-menu right>
                  <template v-slot:activator="{ on }">
                    <div class="my-2">
                      <v-btn class="blue darken-2 " dark large icon @click="newAppointment" depressed small>
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                    </div>
                  </template>
                </v-menu>
              </v-toolbar>
            </v-sheet>
            <v-sheet :height="height">
              <v-calendar
                  locale="el"
                  ref="calendar"
                   v-model="focus"
                  color="primary"
                  interval-height="50"
                  :events="events"
                  :first-interval="firstTime"
                  :event-color="getEventColor"
                  :now="today"
                  :type="type"
                  event-overlap-mode="stack"
                  :event-overlap-threshold="30"
                  @click:event="showEvent"
                  @click:date="myDate"
                  @change="updateRange"
                  :weekdays="weekdays"
              >
                <template v-slot:event="{ event }">
                  {{event.start_time}} - {{event.end_time}} {{event.name}}
                </template>

              </v-calendar>



              <v-menu v-model="selectedOpen" :close-on-content-click="false" :activator="selectedElement" offset-x>
                <v-card color="grey lighten-4" min-width="350px" max-width="450px" flat>
                  <v-toolbar :color="selectedEvent.color" dark>

                    <v-btn icon v-on:click="editAppointmentEntry">
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                    <v-toolbar-title v-html="selectedEvent.title"></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <!--                    <v-btn icon>-->
                    <!--                      <v-icon>mdi-heart</v-icon>-->
                    <!--                    </v-btn>-->
                    <!--                    <v-btn icon>-->
                    <!--                      <v-icon>mdi-dots-vertical</v-icon>-->
                    <!--                    </v-btn>-->
                  </v-toolbar>
                  <v-card-text>
                    <span><b>{{ selectedEvent.start_date }} {{ selectedEvent.start_time }} - {{
                        selectedEvent.end_date
                      }} {{ selectedEvent.end_time }}</b></span><br/>
                    <span v-html="selectedEvent.amka"></span><br/>
                    <span v-html="selectedEvent.email"></span> <span v-html="selectedEvent.phone"></span><br/>
                    <span v-html="selectedEvent.comment"></span>
                  </v-card-text>
                  <v-card-actions>
                    <!--                    <v-btn text color="secondary" @click="selectedOpen = false">-->
                    <!--                      ΚΛΕΙΣΙΜΟ-->
                    <!--                    </v-btn>-->
                  </v-card-actions>
                </v-card>
              </v-menu>
            </v-sheet>
          </v-col>
        </v-row>



        <!--edit add event-->
      </v-container>
    </v-content>
  </v-app>
</template>

<script>


import navigation from "./navigation";
import VueTimepicker from 'vue2-timepicker/src'
import mixins from '../mixins/permissionsCheck'

// Vue.directive('can', function (el, binding) {
//   console.log('can');
//   console.log(el);
//   console.log(Laravel.permissions);
//   console.log(Laravel.permissions.indexOf(binding)  !== 1);
//   return 0;
//   return Laravel.permissions.indexOf(binding)  !== 1;
// })
export default {
  components: {navigation: navigation, VueTimepicker: VueTimepicker},
  props: ['company'],
  mixins: [mixins],
  data: () => ({
    searchClients: [],
    isLoading: false,
    model: null,
    search: null,
    tab: null,
    height: 700,
    swatches: [
      ['#FF00FF', '#A020F0', '#FFA500'],
      ['#FF0000', '#AA0000', '#0000AA'],
      ['#0000FF', '#AAAA00', '#555500'],
      ['#00FF00', '#00AA00', '#005500'],
      ['#00FFFF', '#00AAAA', '#005555']
    ],
    company_id: null,
    viewSingleDayDate: null,
    disablebuttonID: null,
    colormask: '#XXXXXXXX',
    pendings: [],
    EntityAvailiableTimeByDay: [],
    user: {},
    firstTime: '07:00',
    showPendings: false,
    menu2: false,
    date: new Date().toISOString().substr(0, 10),
    items: [
      {href: '/calendar', icon: 'mdi-chart-bubble', text: 'Διαχείρηση'},
      {href: '#', icon: 'mdi-bicycle-basket', text: 'Ραντεβού'},
      // { href:'#', icon: 'mdi-account', text: 'Επισκέπτες' },
      // { href:'#', icon: 'mdi-wallet-giftcard', text: 'Στατιστικά' },
      // { href:'#', icon: 'mdi-shape', text: 'Σημεία Ραντεβού' },
      {href: '#', divider: true},

      // { href:'#', icon: 'lightbulb_outline', text: 'Προφίλ' },
      {href: '/company/managers', icon: 'mdi-account', text: 'Διαχειριστές'},

      {href: '#', divider: true},
      {href: '/company', icon: 'settings', text: 'Εταιρία'},
      {href: '#', icon: 'chat_bubble', text: 'Διαγραμμένα Ραντέβου'},
    ], //menu
    drawer: null,
    editAppointment: false,
    mask: '##:##',
    entityDialog: false,
    newAppointmentSearchField: "",
    notifications: false,
    sound: true,
    widgets: false,
    menu: false,
    menu_end: false,
    menuend_date: false,
    on: false,
    showAudits: false,
    appointmentAudits: [],
    appointment: {
      'email': '',
      'phone': '',
      'start_date': '',
      'start_time': null,
      'title': '',
      'comment': '',
      'color': '#1976d2',
      'duration': 30,
      'user_id': 1,
      'entity_id': 1,
      'approved': false,
    },

    //update appointment

    current_appointment: [],
    rightPanel: false,
    picker: null,
    flat: true,

    sidepanel: true,

    //calendar variables
    typeToLabel: {
      month: 'ΜΗΝΑΣ',
      week: 'ΕΒΔΟΜΑΔΑ',
      day: 'ΗΜΕΡΑ',
    },
    focus: '',
    month: "",
    today: null,
    start: null,
    end: null,
    type: 'month',
    types: ['month', 'week', 'day', '4day'],
    mode: 'stack',
    modes: ['stack', 'column'],
    weekdays: [1, 2, 3, 4, 5, 6,0],
    // weekdays: [
    //   {text: 'Δευτ - Κυρ', value: [1, 2, 3, 4, 5, 6, 0]},
    //   {text: 'Δευτ - Παρ.', value: [1, 2, 3, 4, 5]},
    // ],
    value: '',
    entity: {
      'title': 'test',
      'description': 'test',
      'color': 'red',
      'duration': '60',
    },
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    events: [],
    userCompanies: [],
    selectedCompanie: null,
    entities: [],
    selectedEntity: {title: '', color: 'blue', id: null},
    colors: ['blue', 'indigo', 'deep-purple', 'cyan', 'green', 'orange', 'grey darken-1'],
    names: ['Meeting', 'Holiday', 'PTO', 'Travel', 'Event', 'Birthday', 'Conference', 'Party'],
  }),
  methods: {
    getAvailableTimesForEntityByDay() {

      var closeHours = [];
      var self = this;
      axios.post('/get-appointments-for-day', {
        'start_date': this.appointment.start_date,
        'entity_id': this.appointment.entity_id,
        'appointment_id': this.appointment.id,
        duration: this.appointment.duration
      })
          .then(function (response) {

            self.EntityAvailiableTimeByDay = response.data;
            // self.appointment.start_time = response.data['start_time'][0];

            var time = moment(self.appointment.start_time, 'HH:mm');
            time.add(self.appointment.duration, 'minutes');

          })
          .catch(function (error) {
            console.log(error);
          })
          .then(function () {
          }.bind(this));

    },
    getClient(){
      axios.post('/client/search', {q:this.appointment.amka})
          .then(function (response) {
            // handle success
            self.clients = response.data
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          });
    },
    filterEntities() {
      // selectedCompanie

      this.getEntities(this.selectedCompanie)
    },
    getUserCompanies() {
      var self = this;

      axios.get('/company/users/' + this.user.id + '/companies')
          .then(function (response) {
            // handle success
            self.userCompanies = response.data
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          });
    },
    getUser() {
      axios.get('/userisonline')
          .then(function (response) {
            this.user = response.data;
            this.getUserCompanies();
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          })
    },
    setEntity(entity = null) {
      if (entity == null) {
        this.selectedEntity = {title: '', color: 'blue', id: null};
      } else {
        this.appointment.entity_id = this.entity.id;
        this.selectedEntity = entity
      }
      this.rightPanel = false;

      this.getEvents(this.start, this.end, entity)
    },
    openPendings() {
      this.editAppointment = true;
      this.showPendings = true;
    },
    getPendings(value) {

      this.pendings = value;

    },
    setToday() {
      this.focus = this.today
    },
    myDate(day) {
      this.type = 'day';
      this.viewSingleDayDate = day.date;
    },
    createEntity() {
      console.log('create entity');
      var self = this;
      axios.post('/entity/create', self.entity)
          .then(function (response) {
            // handle success
            console.log(response.data);

          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {
            self.entityDialog = false;
            self.getEntities()
          });
    },
    createAppointment(addNew) {
      this.editAppointment = false;
      var self = this;
       if(this.appointment.start_time == null || this.appointment.start_time == ''){
        return alert('Παρακαλώ συμπληρώστε την ώρα έναρξης');
      }
      // self.appointment.end_time
      axios.post('/appointment', self.appointment)
          .then(function (response) {
            // handle success


            if (response.data.error !== undefined) {
              self.snackbar = true;
              var alertMessage = response.data.error;


              for (var a = 0; a < alertMessage.length; a++) {
                self.$toastr('error', alertMessage[a], 'Βρέθηκε το παρακάτω πρόβλημα')
              }
            } else {
              self.$toastr('info', 'Δημιουργήθηκε Νεο Ραντεβού', response.data.title);


							if(!addNew){
							self.rightPanel = false;
							}else{
								self.appointment.entity_id = 1;
								self.appointment.start_time = null;
 								self.appointment.duration = null;
 								self.appointment.comment = "";
								self.$toastr('success', 'Παρακαλώ εισάγετε το επόμενο ραντεβού του χρήστη. ', response.data.title);

 							}

            }


          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {
            self.getEvents(self.start, self.end);
          });
    },
    getAudits() {
      var self = this;
      //close right panel
      this.current_appointment = null;
      axios.post('/calendar/' + self.appointment.id + '/audits')
          .then(function (response) {
            // handle success

            self.appointmentAudits = response.data;

          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {

          });
    },
    getAppointment(data) {
      var self = this;
      //close right panel
      this.rightPanel = false;
      this.current_appointment = null;
      axios.get('/calendar/' + data.id)
          .then(function (response) {

            self.appointment = response.data;
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {
            //open right panel


          });


    },
    removeAppointment() {
      var self = this;
      axios.post('/appointment/' + self.appointment.id + '/delete', self.appointment)
          .then(function (response) {
            // handle success
           })
          .catch(function (error) {
            // handle error
            console.log(error);

          })
          .then(function () {
            self.rightPanel = false;
            self.editAppointment = false;
            self.getEvents(self.start, self.end);
            self.$refs.reloadPendings.getPendingAppointments()
          });
    },
    updateAppointment() {

      var self = this;
      axios.post('/appointment/' + self.appointment.id, self.appointment)
          .then(function (response) {
            // handle success
            // console.log(response.data);
          })
          .catch(function (error) {
            // handle error
            console.log(error);

          })
          .then(function () {
            self.rightPanel = false;
            self.editAppointment = false;
            self.getEvents(self.start, self.end);
            self.$refs.reloadPendings.getPendingAppointments()
          });
    },
    editAppointmentEntry() {
      this.selectedOpen = false;
      this.rightPanel = true;
      this.editAppointment = true;
    },
    newAppointment() {
      this.searchClients=[];
      this.rightPanel = true;
      var today = new Date();
		this.editAppointment = false;
      this.appointment = {
        'start_date': (this.viewSingleDayDate != null) ? this.viewSingleDayDate : new Date().toISOString().substr(0, 10),
        'end_date': (this.viewSingleDayDate != null) ? this.viewSingleDayDate : new Date().toISOString().substr(0, 10),
        'start_time': '',
        'email': '',
        'phone': '',
        'title': '',
        'comment': '',
        'color': '#1976d2',
        'duration': 30,
        'entity_id': (this.selectedEntity.id != undefined && this.selectedEntity.id != null) ? this.selectedEntity.id : null,
        'approved': false,
      };
      this.getAvailableTimesForEntityByDay();
      this.rightPanel = true;
    },
    getEntities(companyId = null) {
      if (companyId != null) {
        var company = companyId
      } else if (this.company_id != null) {
        var company = this.company_id;
      }

      var self = this;
      axios.post('/entities/json_format', {company_id: company})
          .then(function (response) {
            // handle success

            self.entities = response.data
            // self.getEvents(self.start, self.end);
           })
          .catch(function (error) {
            // handle error
            console.log(error);
          });
    },
    getEvents(start, end, entity = null) {

      var self = this;

      if (this.selectedCompanie != null) {
        this.company_id = this.selectedCompanie;
      } else if (this.company.id !== undefined) {
        this.company_id = this.company.id;
      }

      if (entity != null) {
        entity = entity.id;
      } else if (this.selectedEntity.id != undefined) {
        entity = this.selectedEntity.id;
      }


      axios.post('/calendar/appointments_json', {
        company_id: (self.company_id != null) ? self.company_id : (self.selectedCompanie)?self.selectedCompanie: null,
        start: start,
        end: end,
        entity: entity,
       })
          .then(function (response) {
            // handle success
            self.events = response.data.data;
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {
            // always executed
          });
      // this.events = events
    },
    getEventColor(event) {
      return event.color
    },
    rnd(a, b) {
      return Math.floor((b - a + 1) * Math.random()) + a
    },
    formatDate(a, withTime) {
      return withTime
          ? `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()} ${a.getHours()}:${a.getMinutes()}`
          : `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()}`
    },
    nth(d) {
      return d > 3 && d < 21
          ? ''
          : ['', '', '', '', '', '', '', '', '', ''][d % 10]
    },
    viewDay({date}) {
      this.focus = date;
      this.type = 'day'
    },
    prev() {
      this.$refs.calendar.prev()
    },
    next() {
      this.$refs.calendar.next()
    },
    editPending(event) {

      this.appointment = event;
      this.editAppointmentEntry();
    },
    showEvent({nativeEvent, event}) {

      var self = this;
      var responseData = {};
      // this.getAvailableTimesForEntityByDay();
      //close right panel
      this.rightPanel = false;
      this.current_appointment = null;

      axios.get('/calendar/get/' + event.id)
          .then(function (response) {
            // handle success
            responseData = response.data;
            self.selectedEvent = response.data;
            self.appointment = response.data;
            self.getAvailableTimesForEntityByDay();

          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {
            //open right panel
            const open = () => {


              self.selectedElement = nativeEvent.target
              setTimeout(() => self.selectedOpen = true, 50)
            }
            if (self.selectedOpen) {
              self.selectedOpen = false
              setTimeout(open, 50)
            } else {
              open()
            }
          });
    },
    updateRange({start, end}) {

      const min = new Date(`${start.date}T00:00:00`)
      const max = new Date(`${end.date}T23:59:59`)
      const days = (max.getTime() - min.getTime()) / 86400000
      const eventCount = this.rnd(days, days + 20)
      const events = [];
      this.start = start;
      this.end = end;

      this.getEvents(start, end);


    },
    locationHashChanged() {
      if (location.hash === '#ekremotites') {
        console.log("You're visiting a cool feature!");
      }
    },
    searchForClient () {
      this.loading = true
      // Simulated ajax query
      axios.post('/client/search', {'q':this.newAppointmentSearchField})
          .then(function (response) {
            // handle success
            this.searchClients = response.data;
          }.bind(this))
          .catch(function (error) {
            // handle error
            console.log(error);
          });
    },
  },
  watch: {

    'appointment.duration': function (newValue, oldValue) {
      if(newValue == 'Επιλογή'){
        var time = moment(this.appointment.start_time, 'HH:mm');
        time.add(newValue, 'minutes');
        this.appointment.end_time = '23:00';
      }else{
        var time = moment(this.appointment.start_time, 'HH:mm');
        time.add(newValue, 'minutes');
        this.appointment.end_time = time.format("HH:mm");
      }

    },

    'appointment.start_time': function (newValue, oldValue) {

      var time = moment(newValue, 'HH:mm');
      time.add(this.appointment.duration, 'minutes');

      const startTime = this.appointment.start_time;
      const durationInMinutes = this.appointment.duration;

      const endTime = moment(startTime, 'HH:mm:ss').add(durationInMinutes, 'minutes').format('HH:mm');
      if(this.appointment.duration == 'Επιλογή'){
        this.appointment.end_time = '23:00';
      }else{
        this.appointment.end_time = endTime;
      }


    },

    'appointment.start_date': function (newValue, oldValue) {

      // var startDate = new Date(newValue); //dd-mm-YYYY
      // var endDate = new Date(this.appointment.end_date);
      // if(startDate >= endDate){
      this.appointment.end_date = newValue;
      // }
      if (this.rightPanel == true) {
        this.getAvailableTimesForEntityByDay();
      }


    },
    'rightPanel': function (newValue) {
      // if(newValue == true){
      //   this.getAvailableTimesForEntityByDay();
      // }
    },
    'appointment.end_date': function (newValue, oldValue) {

      var endDate = new Date(newValue); //dd-mm-YYYY
      var startDate = new Date(this.appointment.start_date);
      if (endDate > startDate || endDate < startDate) {
        this.appointment.end_date = this.appointment.start_date;
      }
    },

  },
  computed: {
    approvedMessage() {

      if (this.appointment.approved) {
        return 'Έχει εγκριθεί';
      }
      return 'Μη Εγκεκριμένο';
    },
    swatchStyle() {
      const {color, menu} = this
      return {
        backgroundColor: this.appointment.color,
        cursor: 'pointer',
        height: '30px',
        width: '30px',
        borderRadius: menu ? '50%' : '4px',
        transition: 'border-radius 200ms ease-in-out'
      }
    },
    title() {
      const {start, end} = this;
      if (!start || !end) {
        return 'Nothing'
      }
      const startMonth = this.monthFormatter(start)
      const endMonth = this.monthFormatter(end)
      const suffixMonth = startMonth === endMonth ? '' : endMonth

      const startYear = start.year
      const endYear = end.year
      const suffixYear = startYear === endYear ? '' : endYear

      const startDay = start.day + this.nth(start.day)
      const endDay = end.day + this.nth(end.day)

      switch (this.type) {
        case 'month':
          return `${startMonth} ${startYear}`
        case 'week':
          return `${startDay} έως ${endDay}  ${startMonth}  ${startYear}`
        case 'day':
          return `${startDay} ${startMonth}  ${startYear}`
      }
      return ''
    },
    monthFormatter() {
      return this.$refs.calendar.getFormatter({
        timeZone: 'UTC', month: 'long',
      })
    },
  },

  mounted() {
    this.getUser();
    this.getEntities();

      this.$nextTick(function () {
        window.setInterval(() => {
          this.getEvents(this.start, this.end);
        }, 60000);
      })




    if(window.innerWidth < 990){
      this.type = 'day';
      this.height = window.innerHeight;
    }


    window.onhashchange = this.locationHashChanged();

  },
}
</script>

<style>
label {
  color: #000!important;
  font-weight: 800!important;
}
span.vue__time-picker.time-picker input {
  border: none;
  border-bottom: solid 1px #999;
  width: 100%;
  margin-top: -1px;
}

span.vue__time-picker.time-picker {
  width: 100%;
}

.labelSmall {
  font-size: 12px;
}

/*@import '~@fullcalendar/core/main.css';*/
/*@import '~@fullcalendar/daygrid/main.css';*/
.mb-2 {
  margin-bottom: 2px;
}
#appointmentWindow{
	top: 10px!important;
}
</style>
