<template>
  <v-app id="keep">
    <navigation ref="reloadPendings" v-on:pendings="[]" v-on:showPendings="[]"></navigation>


    <!--Right Panel -->
    <v-navigation-drawer v-model="rightPanel" right app clipped width="500">
      <v-app-bar-nav-icon @click="rightPanel = !rightPanel"/>

      <span class="title ml-3 mr-5">Νέα&nbsp;<span class="font-weight-light">Καταχώρηση</span></span>

      <v-container>
        <v-row>
          <v-col cols="12">
            <v-form ref="form">
              <v-row>
                <v-col cols="12">
                  <v-text-field v-model="selectedClientForUpdate.amka" label="AMKA"
                                prepend-icon="user"></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field v-model="selectedClientForUpdate.phone" label="Τηλέφωνο"
                                prepend-icon="phone"></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field v-model="selectedClientForUpdate.name" label="Όνομα Ασθενή" prepend-icon="mdi-account"
                                required></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field v-model="selectedClientForUpdate.email" label="Email"
                                prepend-icon="email"></v-text-field>
                </v-col>


                <v-spacer></v-spacer>
              </v-row>


              <div >
                <v-btn color="success" class="mr-4 mt-5" @click="updateClient">
                  ΕΝΗΜΕΡΩΣΗ
                </v-btn>
              </div>


            </v-form>
            <br/>
            <br/>
<!--            <a v-if="can('ViewAudits')" href="#" @click="showAudits = true; getAudits(); ">Ιστορικότητα Αλλαγών</a>-->
          </v-col>
        </v-row>
      </v-container>
      <v-divider></v-divider>

    </v-navigation-drawer>
    <!--End Right Panel -->

    <v-content>
      <v-row>
        <v-col cols="4">
          <v-text-field @keyup="searchForClient()" v-model="searchString" label="ΟΝΟΜΑ ΑΜΚΑ Η ΤΗΛΕΦΩΝΟ"
                        prepend-icon="mdi-account"
                        required></v-text-field>
        </v-col>
        <v-col cols="12" md="12" lg="12">
          <div v-if="searchClients.length > 0 ">
            <v-simple-table>
              <thead>
              <tr>
                <th class="text-left">Όνομα</th>
                <th class="text-left">ΑΜΚΑ</th>
                <th class="text-left">Τηλ</th>
                <th class="text-left">Επεξεργασία</th>
              </tr>
              </thead>
              <tbody>
              <tr style="cursor: pointer;" v-for="c in searchClients" :key="c.id" @click="getClientCalendar(c)">
                <td>{{ c.name }}</td>
                <td>{{ c.amka }}</td>
                <td>{{ c.phone }}</td>
                <td>
                  <button @click="selectedClientForUpdate = c; rightPanel = true;">Επεξεργασία</button>
                </td>
              </tr>
              </tbody>
            </v-simple-table>
          </div>
        </v-col>
        <v-col cols="12" v-if="clientBookings.length > 0">
          <v-simple-table>
            <thead>
            <tr>ΕΝΕΡΓΟΠΟΙΗΜΕΝΟ</tr>
            </thead>
            <tbody>
            <tr v-for="a in clientBookings" :key="a.id">
              <td>
                <v-switch v-model="a.approved" disabled="true"
                          :label="`${(a.approved)?'Επιβεβαιωμένο':'Επιβεβαίωση Ραντεβού'}`"></v-switch>
              </td>
              <td>{{ a.entities.title }}</td>
              <td>{{ a.entities.expertise }}</td>
              <td>{{ a.comment }}</td>
              <td>{{ a.start_date }} {{ a.start_time }}</td>
              <td>{{ a.end_date }} {{ a.end_time }}</td>
            </tr>
            </tbody>
          </v-simple-table>
        </v-col>
      </v-row>
    </v-content>
  </v-app>
</template>

<script>


//@todo update and delete managers
import navigation from "./navigation";
import mixins from '../mixins/permissionsCheck'

export default {
  mixins: [mixins],
  data: () => ({
    searchString: '',
    rightPanel: false,
    searchClients: [],
    clientBookings: [],
    selectedClient: {},
    selectedClientForUpdate: {}
  }),
  methods: {
    updateClient() {
      axios.put('/clients/' + this.selectedClientForUpdate.id, this.selectedClientForUpdate )
          .then(function (response) {
            // handle success
            console.log(response.data);
          }.bind(this))
          .catch(function (error) {
            // handle error
            console.log(error);
          });
    },
    getClientCalendar(c) {
      var self = this;
      this.selectedClient = c;
      axios.post('/client/search/' + this.selectedClient.id + '/appointments')
          .then(function (response) {
            // handle success
            this.clientBookings = response.data;
            // for(var a = 0; a < searchClients.length; a++){
            //   if(searchClients[a].id != c.id){
            //     arr.splice(i, 1)
            //   }
            // }

            this.searchClients = this.searchClients.filter(function (item) {
              console.log(c);
              return item['id'] == self.selectedClient.id
            })
          }.bind(this))
          .catch(function (error) {
            // handle error
            console.log(error);
          });
    },
    searchForClient() {
      this.loading = true
      this.searchClients = [];
      // Simulated ajax query
      axios.post('/client/search', {'q': this.searchString})
          .then(function (response) {
            // handle success
            this.searchClients = response.data;
          }.bind(this))
          .catch(function (error) {
            // handle error
            console.log(error);
          });
    },

  },

  computed: {},
  mounted() {


  },
}
</script>

<style lang='scss'>

/*@import '~@fullcalendar/core/main.css';*/
/*@import '~@fullcalendar/daygrid/main.css';*/

</style>
