<template>
    <v-app id="keep">
        <navigation ref="reloadPendings" v-on:pendings="[]" v-on:showPendings="[]"></navigation>
        <v-content>
            <v-row>
                <v-col cols="6" v-if="can('CreateManagers') ">
                    <v-card>
                        <v-card-text>
                            <span color="blue" dark class="headline">Νέα εταιρεία</span>
                            <v-form>
                                <v-text-field label="Uri" v-model="newCompanyName"   type="text"/>
                                <v-text-field label="Τίτλος Ιατρείου" v-model="newCompanyTitle" type="text"/>
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="createCompany">ΔΗΜΙΟΥΡΓΙΑ</v-btn>
                        </v-card-actions>
                    </v-card>

                </v-col>
                <v-col cols="6">
                    <v-card class="mx-auto" min-height="380px">
                        <v-card-title dark class="blue white--text ">
                          ΕΤΑΙΡΕΙΕΣ
                        </v-card-title>
                        <v-card-text>

                            <v-simple-table>
                                <template v-slot:default>
                                    <thead>
                                    <tr>
                                        <th class="text-left">Όνομα Ιατρείου</th>
                                        <th class="text-left">Ειδικότητα</th>
                                        <th class="text-left">Επεξεργασία</th>
                                        <th class="text-left">Προβολή</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="item in companies" :key="item.id">
                                        <td>{{ item.title }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>
                                            <v-dialog elevation="0" class="mr-3" v-model="entityDialog" persistent max-width="600px">
                                                <template v-slot:activator="{ on }">

                                                    <v-btn elevation='0' color="light-blue"  dark v-on="on" @click="editcompany(item)">ΙΑΤΡΕΙΑ</v-btn>
                                                </template>
                                                <v-card>
                                                    <v-card-title>
                                                        <span class="headline">Ενημέρωση Χώρος</span>
                                                    </v-card-title>

                                                    <v-card-actions>
                                                        <v-spacer></v-spacer>
<!--                                                        <v-btn color="blue darken-1" text @click="entityDialog = false">Ακύρωση</v-btn>-->
<!--                                                        <v-btn color="blue darken-1" text @click="updateEntity">Ενημέρωση</v-btn>-->
                                                    </v-card-actions>
                                                </v-card>
                                            </v-dialog>
                                        </td>
                                        <td>
                                            <v-btn icon color="light-blue" @click="showCalendar(item)">
                                                <v-icon dark>event</v-icon>
                                            </v-btn>

                                        </td>
                                    </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-content>
    </v-app>
</template>

<script>


//@todo update and delete managers
import navigation from "./navigation";
import mixins from '../mixins/permissionsCheck'

export default {
  mixins: [mixins],
    data: () => ({
        companies: [],
        newCompanyName: null,
        newCompanyTitle: null,
    }),
    methods: {
        getCompanies(){
            var self = this;
            axios.get('/companies_json')
                .then(function (response) {
                    // handle success
                    console.log(response.data);
                    self.companies = response.data
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                });
        },
        createCompany(){
            var self = this;
            axios.post('/company', {name: self.newCompanyName, title: self.newCompanyTitle})
                .then(function (response) {
                    // handle success
                    console.log(response.data);

                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .then(function () {
                    self.entityDialog = false;
                    self.getCompanies()
                });
        },
        showCalendar(item){
            window.location = '/show/'+item.name;
        },
        editcompany(company){
            window.location = '/company/'+company.name;
        }
    },

    computed: {


    },
    mounted () {
        this.getCompanies();

     },
}
</script>

<style lang='scss'>

/*@import '~@fullcalendar/core/main.css';*/
/*@import '~@fullcalendar/daygrid/main.css';*/

</style>
