<template>
    <v-app id="keep">
        <navigation ref="reloadPendings" v-on:pendings="[]" v-on:showPendings="[]"></navigation>

        <v-content>
            <v-container fluid  >
                <v-row>
                  <v-col cols="8">
                    <v-card class="mx-auto" min-height="380px">
                      <v-card-title dark class="blue ">
                        Ιατρεία

                      </v-card-title>
                      <v-card-text>

                        <v-simple-table>
                          <template v-slot:default>
                            <thead>
                            <tr>
                              <th class="text-left">Όνομα</th>
                              <th class="text-left">Ειδικότητα</th>
                              <th class="text-left">Εταιρεία</th>
                              <th class="text-left">Ical</th>
                              <th class="text-left">Επεξεργασία</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in entities" :key="item.id">
                              <td>{{ item.title }}</td>
                              <td>{{ item.expertise }}</td>
                              <td>{{ (item.company && item.company.title != undefined)?item.company.title: '-' }}</td>
                              <td>
                                <v-btn @click="copyIcalKey(item.icalKey)" color="primary" fab small dark>
                                  <v-icon>mdi-calendar</v-icon>
                                </v-btn>
                              </td>
                              <td>
                                <v-dialog elevation="0" class="mr-3" v-model="entityDialog" max-width="600px" :retain-focus="false">
                                  <template v-slot:activator="{ on }">
                                    <v-btn elevation='0' color="light-blue" @click="setEntityForUpdate = item" dark v-on="on">ΕΠΕΞΕΡΓΑΣΙΑ</v-btn>
                                  </template>
                                  <v-card>
                                    <v-card-title>
                                      <span class="headline">Ενημέρωση Ιατρείου</span>
                                    </v-card-title>
                                    <v-card-text>
                                      <v-container>

                                        <v-row>
                                          <v-col cols="12" sm="6" md="6">
                                            <v-text-field label='Όνομα Ιατρού' v-model="setEntityForUpdate.title" required></v-text-field>
                                          </v-col>
                                          <v-col cols="12" sm="6" md="6">
                                            <v-select  v-model="setEntityForUpdate.duration"  :items="[10,15,20,25,30,35,40,45,50,55,60, 65, 70, 75, 80, 85,90,95,100, 105, 110, 115, 120]" label="Διάρκεια Ραντεβού"  hint="Επιλέξτε την διάρκεια που θέλετε να έχουν οι καταχωρήσεις για αυτόν τον χώρο, μπορεί να αλαχθεί κατά την δημιουργεία του Ραντεβού." persistent-hint required></v-select>

                                          </v-col>

                                          <v-col cols="8">
                                            <v-textarea   rows="1" auto-grow name="input-2-2" label="Σημειώσεις Ιατρού" v-model="setEntityForUpdate.description" :item='entity.description'></v-textarea>
                                          </v-col>

                                          <v-col cols="4" >
                                            <v-text-field elevation="0" v-model="setEntityForUpdate.color" v-mask="colormask" hide-details class="ma-0 pa-0" solo>
                                              <template v-slot:append>
                                                <v-menu v-model="menuUpdate" top nudge-bottom="105" nudge-left="16" :close-on-content-click="false">
                                                  <template v-slot:activator="{ on }">
                                                    <div :style="swatchStyleUpdate" v-on="on" />
                                                  </template>
                                                  <v-card>
                                                    <v-card-text class="pa-0">
                                                      <v-color-picker v-model="setEntityForUpdate.color" flat show-swatches/>
                                                    </v-card-text>
                                                  </v-card>
                                                </v-menu>
                                              </template>
                                            </v-text-field>
                                          </v-col>
                                          <v-col cols="12" sm="6" md="12">
                                            <v-text-field label='Ειδικότητα' v-model="setEntityForUpdate.expertise" required></v-text-field>
                                          </v-col>

                                        </v-row>
                                      </v-container>

                                    </v-card-text>
                                    <v-card-actions>
                                      <v-spacer></v-spacer>

                                      <v-btn   color="error"  @click="entityDialog = false">ΑΚΥΡΩΣΗ</v-btn>
                                      <v-btn color="primary"  @click="updateEntity">ΕΝΗΜΕΡΩΣΗ</v-btn>
                                    </v-card-actions>
                                  </v-card>
                                </v-dialog>
                              </td>
                            </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                      </v-card-text>
                    </v-card>
                  </v-col>
                  <v-col cols="4" v-if="can('CreateEntity')" >
                        <v-card>
                            <v-card-title >
                                <span color="blue" dark class="headline">Δημιουργία Ιατρείου</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="12" md="12">
                                            <v-select  v-model="selectedCompany"  :items="companies" item-text='title' item-value="id" label="Ιατρείο"   required></v-select>

                                        </v-col>

                                        <v-col cols="12" sm="6" md="6">
                                            <v-text-field label='Ονοματεπώνυμο' v-model="entity.title" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="6">
                                            <v-select  v-model="entity.duration"  :items="[10,15,20,25,30,35,40,45,50,55,60, 65, 70, 75, 80, 85,90,95,100, 105, 110, 115, 120]" label="Διάρκεια"  hint="Επιλέξτε την διάρκεια που θέλετε να έχουν οι καταχωρήσεις για αυτόν τον χώρο, μπορείτε να αλαχθεί κατά την δημιουργεία του Ραντεβού." persistent-hint required></v-select>

                                        </v-col>

                                        <v-col cols="12" sm="12" md="12">
                                            <v-text-field label='Ειδικότητα' v-model="entity.expertise" ></v-text-field>
                                        </v-col>

                                        <v-col cols="8">
                                            <v-textarea   rows="1" auto-grow name="input-2-2" label="Περιγραφή" v-model="entity.description" :value='entity.description'></v-textarea>
                                        </v-col>

                                        <v-col cols="4" >
                                            <v-text-field elevation="0" v-model="entity.color" v-mask="colormask" hide-details class="ma-0 pa-0" solo>
                                                <template v-slot:append>
                                                    <v-menu v-model="menu" top nudge-bottom="105" nudge-left="16" :close-on-content-click="false">
                                                        <template v-slot:activator="{ on }">
                                                            <div :style="swatchStyle" v-on="on" />
                                                        </template>
                                                        <v-card>
                                                            <v-card-text class="pa-0">
                                                                <v-color-picker v-model="entity.color" flat show-swatches/>
                                                            </v-card-text>
                                                        </v-card>
                                                    </v-menu>
                                                </template>
                                            </v-text-field>
                                        </v-col>



                                    </v-row>
                                </v-container>
                                <small>*indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="createEntity">ΔΗΜΙΟΥΡΓΙΑ</v-btn>
                            </v-card-actions>
                        </v-card>

                    </v-col>
                </v-row>
                <!--edit add event-->


            </v-container>
        </v-content>

    </v-app>
</template>

<script>


//@todo update and delete managers
import navigation from "./navigation";
import mixins from "../mixins/permissionsCheck";

    export default {
      mixins: [mixins],
        props: ['company'],
        data: () => ({
            company_id: null,
            setEntityForUpdate:[],
            menuUpdate: false,
            colormaskUpdate: '!#XXXXXX',
            entityDialog: false,
            selectedCompany: null,
            companies: [],

            menu: false,
            colormask: '!#XXXXXX',
            entity: {
                title: null,
                description: null,
                color: '#303F9F',
                expertise: null,
                duration: 60
            },
            snackbar: true,
            entities: [],
            alertMessage: [],
            vertical: true,


            alert: true,
            valid: true,
            drawer: true,
            date: new Date().toISOString().substr(0, 10),

            manager: {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
            },
            managers: [],
            showPassA: false,
            showPassB: false,
            rules: {
                required: value => !!value || 'Required.',
                min: v => v.length >= 8 || 'Min 8 characters',
                emailMatch: () => ('The email and password you entered don\'t match'),
            },
        }),
        methods: {
            copyIcalKey(key){
              if(key == null){
                alert('Παρακαλώ επικοινωνήστε με τον Διαχειριστή')
                return ;
              }
                /* Get the text field */
              this.$copyText('https://medical.booktool.gr/ical/'+key).then(function (e) {
                alert('To Url για την προσθήκη νέου ημερολογίου έχει αντιγραφεί στο πρόχειρο')
                console.log(e)
              }, function (e) {
                alert('Can not copy')
                console.log(e)
              })

            },
            getCompanies(){
                var self = this;
                axios.get('/companies_json')
                    .then(function (response) {
                        // handle success
                        console.log(response.data);
                        self.companies = response.data
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    });
            },
            updateEntity(){
                console.log('create entity');
                var self = this;
                axios.post('/entity/'+self.setEntityForUpdate.id+'/update', self.setEntityForUpdate)
                    .then(function (response) {
                        // handle success
                        console.log(response.data);
												  self.entityDialog = false;
                        self.getEntities()
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })

            },
             createEntity(){
                // var entity =  {
                //      title: this.entity.title,
                //      description: this.entity.description,
                //      color:this.entity.color,
                //      expertise: this.entity.expertise,
                //      duration: this.entity.duration
                //  },

                var self = this;
                axios.post('/entity/create', {company_id: self.selectedCompany, entity:self.entity})
                    .then(function (response) {
                        // handle success
                        console.log(response.data);
                        this.getEntities();
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                    .then(function () {
                        self.entityDialog = false;
                        self.getEntities()
                    });
            },
            getEntities(){
                var self = this;
                // axios.get('/entities/json_format')
                axios.post('/entities/json_format', {company_id: self.company_id})
                    .then(function (response) {
                        // handle success
                        console.log('entitieues')
                        console.log(response.data)
                        self.entities = response.data
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                    .then(function () {
                        // always executed
                    });
            },
        },

        computed: {

            swatchStyleUpdate() {
                const {color, menu} = this
                return {
                    backgroundColor: this.setEntityForUpdate.color,
                    cursor: 'pointer',
                    height: '30px',
                    width: '30px',
                    borderRadius: menu ? '50%' : '4px',
                    transition: 'border-radius 200ms ease-in-out'
                }
            },
            swatchStyle() {
                const {color, menu} = this
                return {
                    backgroundColor: this.entity.color,
                    cursor: 'pointer',
                    height: '30px',
                    width: '30px',
                    borderRadius: menu ? '50%' : '4px',
                    transition: 'border-radius 200ms ease-in-out'
                }
            },
        },
        mounted () {
            if(this.company.id !== undefined){
                this.company_id = this.company.id;
                this.selectedCompany = this.company.id;
            }

            this.getEntities();
            this.getCompanies();
        },
    }
</script>

<style lang='scss'>

    /*@import '~@fullcalendar/core/main.css';*/
    /*@import '~@fullcalendar/daygrid/main.css';*/

</style>
