<template>
    <v-app id="keep">
        <v-app-bar app clipped-left color="yellow lighten-2">
            <v-app-bar-nav-icon @click="drawer = !drawer" />
             <span class="title ml-3 mr-5">My&nbsp;<span class="font-weight-light">Calendar</span></span>
<!--            <v-text-field solo-inverted flat hide-details label="Search" prepend-inner-icon="search"/>-->
            <v-spacer />
        </v-app-bar>

        <v-navigation-drawer v-model="drawer" app clipped color="grey lighten-4">
            <v-list dense class="grey lighten-4">
                <template v-for="(item, i) in items"  >
                    <v-row v-if="item.heading" :key="i" align="center">
                        <v-col cols="6">
                            <v-subheader v-if="item.heading">
                                {{ item.heading }}
                            </v-subheader>
                        </v-col>

                    </v-row>
                    <v-divider v-else-if="item.divider" :key="i" dark class="my-4"/>
                    <v-list-item v-else :key="i" link  :href="item.href">
                        <v-list-item-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title class="grey--text">
                             {{ item.text }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>

        <v-content>
            <v-container fluid class="grey lighten-4 ">
                <v-row>
                    <v-col cols="12">
                        <h1>Home Page</h1>
                    </v-col>
                </v-row>
                <v-row justify="left" align="left">
                    <v-col  cols="12">
                        <v-simple-table dense>
                            <template v-slot:default>
                                <thead>
                                <tr>
                                    <th class="text-left">Name</th>
                                    <th class="text-left">Calories</th>
                                    <th class="text-left">Calories</th>
                                    <th class="text-left">Calories</th>
                                    <th class="text-left">Calories</th>
                                    <th class="text-left">Calories</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in desserts" :key="item.name">
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.calories }}</td>
                                    <td>{{ item.calories }}</td>
                                    <td>{{ item.calories }}</td>
                                    <td>{{ item.calories }}</td>
                                    <td>{{ item.calories }}</td>
                                </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="8">
                        <FullCalendar
                            class="demo-app-calendar"
                            ref="fullCalendar"
                            defaultView="dayGridMonth"
                            :header="{
                                left: 'prev,next today',
                                center: 'title',
                                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                              }"
                            :plugins="calendarPlugins"
                            :weekends="calendarWeekends"
                            :events="calendarEvents"
                            @dateClick="handleDateClick"
                            @eventClick="eventClick"
                        />

                    </v-col>
                    <v-col cols="4">

                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import FullCalendar from "@fullcalendar/vue";
    import dayGridPlugin from "@fullcalendar/daygrid";
    import timeGridPlugin from "@fullcalendar/timegrid";
    import interactionPlugin from "@fullcalendar/interaction";

    import "@fullcalendar/core/main.css";
    import "@fullcalendar/daygrid/main.css";
    import "@fullcalendar/timegrid/main.css";


    export default {
        components: {
            FullCalendar // make the <FullCalendar> tag available
        },
        props: {
            source: String,
        },

        data: () => ({
            calendarWeekends: null,

            calendarEvents: [
                { title: 'event 1', date: '2020-01-16 08:00'  },
                { title: 'event 2',
                    editable: true,
                    allDay: false,
                    start: '2020-01-15 09:00',
                    end: '2020-01-15 11:00',
                    backgroundColor: 'red',
                    borderColor: 'red',
                    textColor: 'white',
                }
            ],
            calendarPlugins: [
                dayGridPlugin,
                timeGridPlugin,
                interactionPlugin
            ],
            drawer: null,
            items: [
                { href:'#', icon: 'mdi-chart-bubble', text: 'Διαχείρηση' },
                { href:'#', icon: 'mdi-bicycle-basket', text: 'Παραγγελίες' },
                { href:'#', icon: 'mdi-account', text: 'Πελάτες' },
                { href:'#', icon: 'mdi-wallet-giftcard', text: 'Προϊόντα' },
                { href:'#', icon: 'mdi-shape', text: 'Κατηγορίες' },

                { href:'#', divider: true },
                { href:'#', icon: 'lightbulb_outline', text: 'Εκπτώσεις' },
                { href:'#', icon: 'lightbulb_outline', text: 'Κουπόνια' },



                { href:'#', divider: true },

                { href:'#', icon: 'lightbulb_outline', text: 'Μπλόκ' },
                { href:'#', icon: 'lightbulb_outline', text: 'Σελίδες' },
                { href:'#', icon: 'lightbulb_outline', text: 'Slider' },
                { href:'#', divider: true },
                { href:'#', icon: 'lightbulb_outline', text: 'Σύστημα' },
                { href:'#', icon: 'touch_app', text: 'Reminders' },
                { href:'#', divider: true },
                { href:'#', heading: 'Labels' },
                { href:'#', icon: 'add', text: 'Create new label' },
                { href:'#', divider: true },
                { href:'#', icon: 'archive', text: 'Archive' },
                { href:'#', icon: 'delete', text: 'Trash' },

                { href:'#', icon: 'settings', text: 'Settings' },
                { href:'#', icon: 'chat_bubble', text: 'Trash' },
                { href:'#', icon: 'help', text: 'Help' },
                { href:'#', icon: 'phonelink', text: 'App downloads' },
                { href:'#', icon: 'keyboard', text: 'Keyboard shortcuts' },
            ],
            desserts: [
                {
                    name: 'Frozen Yogurt',
                    calories: 159,
                },
                {
                    name: 'Ice cream sandwich',
                    calories: 237,
                },
                {
                    name: 'Eclair',
                    calories: 262,
                },
                {
                    name: 'Cupcake',
                    calories: 305,
                },
                {
                    name: 'Gingerbread',
                    calories: 356,
                },
                {
                    name: 'Jelly bean',
                    calories: 375,
                },
                {
                    name: 'Lollipop',
                    calories: 392,
                },
                {
                    name: 'Honeycomb',
                    calories: 408,
                },
                {
                    name: 'Donut',
                    calories: 452,
                },
                {
                    name: 'KitKat',
                    calories: 518,
                },
            ],
        }),
        methods: {
            toggleWeekends() {
                this.calendarWeekends = !this.calendarWeekends; // update a property
            },
            gotoPast() {
                let calendarApi = this.$refs.fullCalendar.getApi(); // from the ref="..."
                calendarApi.gotoDate("2000-01-01"); // call a method on the Calendar object
            },
            eventClick(arg){
                console.log(arg);
            },
            handleDateClick(arg) {
                if (confirm("Would you like to add an event to " + arg.dateStr + " ?")) {
                    this.calendarEvents.push({
                        // add new event data
                        title: "New Event",
                        start: arg.date,
                        allDay: arg.allDay
                    });
                }
            }
        }
    }
</script>

<style lang='scss'>

    @import '~@fullcalendar/core/main.css';
    @import '~@fullcalendar/daygrid/main.css';

</style>
