<template>
    <div>

        <div id="meet"></div>


    </div>
</template>

<script>


    import navigation from "./navigation";

    export default {
        components: {navigation: navigation},
        props: ['roomname'],
        data: () => ({

        }),
        methods: {

        },
        mounted () {
            // nikos
            // https://tele.isol.gr
            //     user nikos
            // pass nikos7
            // const domain = 'tele.isol.gr';
            // const options = {
            //     roomName: this.roomname,
            //     width: 700,
            //     height: 700,
            //     parentNode: document.querySelector('#meet')
            // };
            // const api = new JitsiMeetExternalAPI(domain, options);
            // console.log('api.getCurrentDevices()')
            // console.log(api.getCurrentDevices())
        },
    }
</script>

<style >

</style>


