<template>
  <div>
    <v-app-bar app clipped-left color="blue darken-2" dark elevate-on-scroll="false">
      <v-app-bar-nav-icon @click="drawer = !drawer"/>
      <span class="title ml-3 mr-5">&nbsp;<span class="font-weight-light">BookTool </span>Medical</span>
      <!--            <v-text-field solo-inverted flat hide-details label="Search" prepend-inner-icon="search"/>-->
      <v-spacer/>

      <v-dialog elevation="0" class="mr-3" v-model="entityDialog" persistent max-width="600px">

      </v-dialog>

      <span class="small">{{ auth.name }}</span>
      <v-btn elevation="0" class="ml-3 mr-3" color="light-blue" @click="logout" dark>ΕΞΟΔΟΣ</v-btn>
<!--      <v-btn elevation="0" class="ml-3 mr-3" color="light-blue" dark>ΑΝΑΦΟΡΕΣ</v-btn>-->

      <v-badge class="mr-5" :color="(pendings_number > 0)?'red':'green'" dark>
        <template v-slot:badge>
          <span>{{ pendings_number }}</span>
        </template>
        <v-btn @click="sendPendings(); showPendings()" elevation='0' color="light-green" fab x-small dark>
          <v-icon>lightbulb_outline</v-icon>
        </v-btn>
        <!--                    <v-icon @click="sendPendings(); showPendings()" medium>lightbulb_outline</v-icon>-->
      </v-badge>

    </v-app-bar>


    <!--Left Panel -->
    <v-navigation-drawer v-model="drawer" app clipped color="grey lighten-4">
      <v-list dense class="grey lighten-4">
        <template v-for="(item, i) in items" v-if="item.permission == undefined || can(item.permission)" >
          <v-row v-if="item.heading" :key="i" align="center">
            <v-col cols="6">
              <v-subheader v-if="item.heading">
                {{ item.heading }} sdf
              </v-subheader>
            </v-col>
          </v-row>
          <v-divider v-else-if="item.divider" :key="i" dark class="my-4"  />
          <v-list-item  v-else :key="i" link :href="item.href" v-if="item.permission == undefined || can(item.permission)">
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content v-if="item.permission == undefined || can(item.permission)">
              <v-list-item-title class="grey--text">
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>
    <!--End Left Panel-->

  </div>
</template>

<script>

import mixins from '../mixins/permissionsCheck'

export default {
  mixins: [mixins],
  data: () => ({
    auth: {
      name: null,
    },
    pendings: [],
    items: [
      {href: '/calendar', icon: 'mdi-chart-bubble', text: 'ΗΜΕΡΟΛΟΓΙΟ', auth: ['manager']},
      // { href:'#', icon: 'mdi-account', text: 'Επισκέπτες' },
      // { href:'#', icon: 'mdi-wallet-giftcard', text: 'Στατιστικά' },
      // { href:'#', icon: 'mdi-shape', text: 'Σημεία Ραντεβού' },

      // { href:'#', icon: 'lightbulb_outline', text: 'Προφίλ' },

      {href: '/company/managers', icon: 'mdi-account', text: 'Διαχειριστές', permission: 'CreateManagers', auth: ['manager']},

      // {href: '#', divider: true},
      {href: '/entity', icon: 'house', text: 'Ιατρεία',  permission: 'ViewEntities' ,auth: ['manager']},
      // {href: '#ekremotites', icon: 'chat_bubble', text: 'Ραντέβου Σε Εκρεμμότητα', auth: ['manager']},
      {href: '/clients', icon: 'mdi-account', text: 'Επισκέπτες', auth: ['manager']},

      // {href: '/ical', icon: 'mail', text: 'Ical'},
    ], //menu

    entityDialog: false,
    entity: {

      title: null,
      description: null,
      color: '#303F9FFF',
      duration: 60
    },
    drawer: false,
  }),
  computed: {


    pendings_number() {
      return this.pendings.length
    }
  },
  methods: {
    logout() {
      axios.post('/logout')
          .then(function (response) {
            // handle success
            window.location = '/login'
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {
            // always executed
          });
    },
    showPendings() {
      this.$emit('showPendings', true)
    },
    sendPendings() {

      this.$emit('pendings', this.pendings)
    },
    getAuth() {
      var self = this;
      axios.get('/userisonline')
          .then(function (response) {
            // handle succes
            self.auth = response.data;
          })
          .catch(function (error) {
            console.log(error);
          })
          .then(function () {
            // always executed
          });
    },
    getPendingAppointments() {

      var self = this;
      axios.get('/calendar/pendings')
          .then(function (response) {
            // handle success

            self.pendings = response.data;
            self.sendPendings();
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
          .then(function () {
            // always executed
          });
    },


  },
  created() {
    this.getAuth();
  },
  mounted() {
    this.getPendingAppointments();

  }
}
</script>


